body {
    background-color: azure;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
    background-image: url(High_resolution_wallpaper_background_ID_77700342363.jpg);
}
h1 {
    text-align: center;
